name: CI

on:
    push:
        branches:
            - "*"
    schedule:
        - cron: "0 2 * * *"
    workflow_dispatch:

jobs:
    build:
        strategy:
            matrix:
                os: [ubuntu-latest]
                version: [0.14.0, 0.15.1, ""]
            fail-fast: false
        runs-on: ${{ matrix.os }}
        steps:
            - name: Setup Zig
              uses: goto-bus-stop/setup-zig@v2
              with:
                version: ${{ matrix.version }}
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0
            - name: Build and test with Zig
              run: zig build test --summary all
